@import "../abstracts/mixins";

header {
	padding-top: 50px;
	background-color: var(--header-bg);
	height: 250px;
	border-radius: 0 0 20px 20px;

	.main {
		display: flex;
		justify-content: space-between;
	}

	@include respond(phone) {
		height: 300px;
	}
}

.header-btn-wrapper {
	display: flex;
	justify-content: space-between;

	@include respond(phone) {
		display: flex;
		flex-direction: column;
	}
}

.dashboard-info {
	display: flex;
	flex-direction: column;
	padding-bottom: 50px;

	h2 {
		font-size: 30px;
		padding-bottom: 10px;
	}
	h5 {
		color: var(--text-grey);
		font-size: 15px;

		@include respond(phone) {
			padding-bottom: 25px;
		}
	}

	@include respond(phone) {
		border-bottom: 1px solid var(--text-grey);
		padding-bottom: 0;
	}
}

.overview-today {
	padding-bottom: 45px;
	font-size: 30px;
}
