section {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
	width: 80%;

	@include respond(phone) {
		margin: auto;
		display: flex;
		flex-direction: column;
		width: 90%;
	}
}
