.btn-container {
	display: flex;
	justify-content: flex-start;

	@include respond(phone) {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
	}

	p {
		padding: 10px 15px 0 0;
		color: var(--text);

		@include respond(phone) {
			color: $grey;
		}
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;

	input {
		opacity: 0;
		width: 0;
		height: 0;
	}
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: $toggle;
	-webkit-transition: 0.4s;
	transition: 0.4s;

	&:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: var(--toggle-btn);
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}
}

input:checked {
	& + .slider {
		background-color: $grey;
	}

	& + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}
}

.slider.round {
	border-radius: 34px;

	&:before {
		border-radius: 50%;
	}
}
