@import "../abstracts/mixins";

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0 30px 0;
	background-color: var(--light-bg);
	border-radius: 5px;
	width: 25%;

	overflow: hidden;

	&:hover {
		background-color: var(--hover);
		cursor: pointer;
		transition: 0.3s ease-in-out;
	}

	@include respond(phone) {
		width: 100%;
	}

	.curved-border-instagram {
		width: 100%;
		border-radius: 5px;
		border-top: 5px solid;
		border-image: $gradient;
		border-image-slice: 1;
		border-radius: 5px;
		padding: 20px 0 30px 0;
	}

	.social-media {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 10px;
		width: 100%;
		padding-bottom: 30px;
	}

	.followers {
		display: flex;
		flex-direction: column;
		align-items: center;

		h2 {
			font-size: 60px;
			margin: 0;

			@include respond(tablet) {
				font-size: 40px;
			}
		}

		p {
			display: flex;
			justify-content: center;
			text-transform: uppercase;
			letter-spacing: 0.5em;
			font-weight: 400;
			color: var(--text-grey);
			font-size: 13px;
			margin: 0;

			@include respond(tablet) {
				font-size: 9px;
			}
		}
	}

	.overview {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		padding-top: 30px;

		p {
			font-weight: 800;
			font-size: 14px;
		}

		.increasing {
			color: $green;
			margin: 0;
		}

		.decreasing {
			color: $red;
			margin: 0;
		}
	}
}

.facebook,
.twitter {
	border-top: 5px solid $blue;
}

.instagram {
	padding: 0;
}

.youtube {
	border-top: 5px solid $youtubeRed;
}
