.small-card {
	background-color: var(--light-bg);
	padding: 20px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;

	&:hover {
		background-color: var(--hover);
		cursor: pointer;
		transition: 0.3s ease-in-out;
	}

	.page-views {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 20px;

		p {
			color: var(--text-grey);
			font-weight: 600;
		}
	}

	.numbers-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		p {
			font-size: 40px;
			margin: 0;
		}

		.percentage-wrapper {
			display: flex;
			flex-direction: row;
			justify-self: flex-end;
			align-items: center;
			font-size: 20px;
			align-self: flex-end;
			gap: 5px;

			h6 {
				font-size: 12px;
				margin: 0;

				@include respond(phone) {
					font-size: 18px;
				}
			}

			.increasing {
				color: $green;
			}

			.decreasing {
				color: $red;
			}
		}
	}
}
