/*
$breakpoint argument choices: 
    -phone
	-tablet
    -desktop

*/

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 720px) {
			@content;
		}
	} @else if $breakpoint == tablet {
		@media (max-width: 919px) {
			@content;
		}
	} @else if $breakpoint == desktop {
		@media (min-width: 1200px) {
			@content;
		}
	}
}
