$gradient: linear-gradient(
	to right,
	#f8c06b,
	#ffa167,
	#fd8270,
	#f16681,
	#d85395
);
$toggle: linear-gradient(to right, #4695d0, #00a6d3, #00b5c8, #00c0b1, #4dc993);
$blue: #2989e0;
$red: #dc414c;
$youtubeRed: #b30a30;
$lightRed: #bd5963;
$green: #1eb589;
$grey: #9299b6;
